In [86]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ks-projects-201801.csv")

In [3]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [4]:
df.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370454 entries, 0 to 378660
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                370454 non-null  int64
 1   name              370451 non-null  object
 2   category          370454 non-null  object
 3   main_category     370454 non-null  object
 4   currency          370454 non-null  object
 5   deadline          370454 non-null  datetime64[ns]
 6   goal              370454 non-null  float64
 7   launched          370454 non-null  datetime64[ns]
 8   pledged           370454 non-null  float64
 9   state             370454 non-null  object
 10  backers           370454 non-null  int64
 11  country           370454 non-null  object
 12  usd pledged       370222 non-null  float64
 13  usd_pledged_real  370454 non-null  float64
 14  usd_goal_real     370454 non-null  float64
 15  words_in_name     370451 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(2), object(6)
memory usage: 48.0+ MB

In [31]:
df["deadline"] = pd.to_datetime(df["deadline"])
df["launched"] = pd.to_datetime(df["launched"])

In [6]:
df.groupby('main_category')['ID'].nunique()

main_category
Art             28153
Comics          10819
Crafts           8809
Dance            3768
Design          30070
Fashion         22816
Film & Video    63585
Food            24602
Games           35231
Journalism       4755
Music           51918
Photography     10779
Publishing      39874
Technology      32569
Theater         10913
Name: ID, dtype: int64

In [26]:
df.groupby('state')['ID'].nunique()

state
canceled       38779
failed        197719
successful    133956
Name: ID, dtype: int64

## Cleaning the data list:

1.1 Exclude live, suspended and undefined statuses

1.2 Add name length column

1.3 Add fundraising period

1.4 Drop usd pledged column

1.5 Rename usd pledged_real colimn

1.6 Add avg money per backer column

1.7 Add percentage funded

1.8 Fix contry values

1.9 Fix order of columns

### 1.1 Exclude live status

In [16]:
df = df[df.state != "live"]

In [22]:
df = df[df.state != "suspended"]

In [23]:
df = df[df.state != "undefined"]

### 1.2 Add name length column

In [49]:
df["words_in_name"] = df["name"].str.count(" ") + 1

### 1.3 Add fundraising period

In [38]:
df["funding_period"] = df["deadline"].dt.date - df["launched"].dt.date

### 1.4 Drop usd pledged column

In [52]:
df = df.drop(["usd pledged"], axis=1)

### 1.5 Rename columns

In [64]:
df = df.rename(columns={"name": "project_name", "goal": "project_goal", "pledged": "pledged_amount", "usd_pledged_real": "pledged_amount_usd", "sd_goal_real": "project_goal_usd"})

In [93]:
df.head()

,ID,project_name,category,main_category,currency,deadline,project_goal,launched,pledged_amount,state,backers,country,pledged_amount_usd,project_goal_usd,words_in_name,funding_period,avg_amount_per_backer
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,1533.95,6.0,59 days,NaN
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,2421.0,30000.00,8.0,60 days,161.400000
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,45000.00,3.0,45 days,73.333333
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,5000.00,7.0,30 days,1.000000
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,19500.00,8.0,56 days,91.642857

### 1.6 Add avg money per backer column

In [74]:
df["avg_amount_per_backer"] = df["pledged_amount_usd"] / df["backers"]

In [89]:
df = df.replace([np.inf, -np.inf], np.nan)

In [95]:
df["avg_amount_per_backer"] = df["avg_amount_per_backer"].fillna(0)

### 1.7 Add percentage funded

In [105]:
df["percentage_funded"] = df["pledged_amount"] / df["project_goal"]

### 1.8 Fix contry values

In [115]:
df['country'] = df['country'].replace({"AT": "Austria", "AU": "Australia", "BE": "Belgium", "CA": "Canada", "CH": "Switzerland", "DE": "Germany", "DK": "Denmark", \
"ES": "Spain", "FR": "France", "GB": "United Kingdom", "HK": "Hong Kong", "IE": "Ireland", "IT": "Italy", "JP": "Japan", \
"LU": "Luxembourg", "MX": "Mexico", "N,0\"": "Unknown", "NL": "Netherlands", "NO": "Norway", "NZ": "New Zealand", "SE": "Sweden", \
"SG": "Singapore", "US": "United States"})

### 1.9 Fix order of columns

In [118]:
df.columns

Index(['ID', 'project_name', 'category', 'main_category', 'currency',
       'deadline', 'project_goal', 'launched', 'pledged_amount', 'state',
       'backers', 'country', 'pledged_amount_usd', 'project_goal_usd',
       'words_in_name', 'funding_period', 'avg_amount_per_backer',
       'percentage_funded'],
      dtype='object')

In [122]:
cols = ['ID',
 'project_name',
 'words_in_name',
 'main_category',
 'category',
 'country',
 'currency',
 'launched',
 'deadline',
 'funding_period',
 'project_goal',
 'project_goal_usd',
 'percentage_funded',
 'pledged_amount',
 'pledged_amount_usd',
 'state',
 'backers',
 'avg_amount_per_backer']

In [123]:
df = df[cols]

In [124]:
df

,ID,project_name,words_in_name,main_category,category,country,currency,launched,deadline,funding_period,project_goal,project_goal_usd,percentage_funded,pledged_amount,pledged_amount_usd,state,backers,avg_amount_per_backer
0,1000002330,The Songs of Adelaide & Abullah,6.0,Publishing,Poetry,United Kingdom,GBP,2015-08-11 12:12:28,2015-10-09,59 days,1000.0,1533.95,0.000000,0.0,0.0,failed,0,0.000000
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,8.0,Film & Video,Narrative Film,United States,USD,2017-09-02 04:43:57,2017-11-01,60 days,30000.0,30000.00,0.080700,2421.0,2421.0,failed,15,161.400000
2,1000004038,Where is Hank?,3.0,Film & Video,Narrative Film,United States,USD,2013-01-12 00:20:50,2013-02-26,45 days,45000.0,45000.00,0.004889,220.0,220.0,failed,3,73.333333
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,7.0,Music,Music,United States,USD,2012-03-17 03:24:11,2012-04-16,30 days,5000.0,5000.00,0.000200,1.0,1.0,failed,1,1.000000
4,1000011046,Community Film Project: The Art of Neighborhoo...,8.0,Film & Video,Film & Video,United States,USD,2015-07-04 08:35:03,2015-08-29,56 days,19500.0,19500.00,0.065795,1283.0,1283.0,canceled,14,91.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),6.0,Film & Video,Documentary,United States,USD,2014-09-17 02:35:30,2014-10-17,30 days,50000.0,50000.00,0.000500,25.0,25.0,canceled,1,25.000000
378657,999977640,The Tribe,2.0,Film & Video,Narrative Film,United States,USD,2011-06-22 03:35:14,2011-07-19,27 days,1500.0,1500.00,0.103333,155.0,155.0,failed,5,31.000000
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,11.0,Film & Video,Narrative Film,United States,USD,2010-07-01 19:40:30,2010-08-16,46 days,15000.0,15000.00,0.001333,20.0,20.0,failed,1,20.000000
378659,999987933,BioDefense Education Kit,3.0,Technology,Technology,United States,USD,2016-01-13 18:13:53,2016-02-13,31 days,15000.0,15000.00,0.013333,200.0,200.0,failed,6,33.333333
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,7.0,Art,Performance Art,United States,USD,2011-07-19 09:07:47,2011-08-16,28 days,2000.0,2000.00,0.262000,524.0,524.0,failed,17,30.823529